@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/InterRegular.ttf") format("truetype");
}

.page {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  background-color: #f8fafe;
  margin: 0;
}

.page__content {
  width: 100%;
  padding-top: 90px;
}

.page__header {
  position: fixed;
  /* border-bottom: 1px solid #010541; */
  background-color: #f8fafe;
  width: 100%;
  top: 0;
}

.header {
  display: flex;
  align-items: center;
}

.header__content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1500px;
  padding: 0 50px;
  gap: 10px;
  margin: 0 auto;
}

.header__logo {
  flex-grow: 1;
}

.header__content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 0 50px;
  gap: 10px;
}

.logo {
  display: flex;
  padding: 18px 0 9px 0;
  gap: 10px;
}

.logo__img {
  width: 50px;
  height: 50px;
}

.logo__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  margin: 0;
}

.logo__text-color {
  color: #ff5722;
}

.header__icons {
  display: flex;
  align-items: flex-start;
  padding: 21px 0 10px;
  gap: 20px;
}

.header__icon-counter {
  position: relative;
  width: 50px;
  height: 50px;
}

.header__item-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
}

.header__img-heart,
.header__img-basket {
  width: 50px;
  height: 50px;
}

.header__item-counter {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  right: 0;
  top: 0;
  border-radius: 50px;
}

.selected {
  background: #f36223;
}

.header__number {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.page__inner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 1500px;
  padding: 0 50px 100px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  gap: 4px;
}

.breadcrumbs__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.a-link {
  text-decoration: none;
  color: #008cf0;
}

.a-link:hover {
  color: #f36223;
}

.a-link:active {
  color: #a93a09;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-content__title {
  display: flex;
  align-items: center;
  padding: 0 0 20px;
  gap: 10px;
}

.main-content__title-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin: 0;
}

.list-images {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.list-images__item {
  height: 387px;
}

/*слайдер картинок*/
.slider-container {
  display: none;
}

.slider-container {
  position: relative;
  text-align: center;
  left: 0;
}

.slides__list-item {
  width: 20%;
  float: left;
}

.slides__list-images {
  width: 500%;
  line-height: 0;
}

.slides__overflow {
  width: 100%;
  overflow: hidden;
}

.slides__img {
  height: 300px;
}

.slider-container__desktop:checked ~ .slider {
  max-width: 400px;
}

.slider__switch1:checked ~ .slider__controls label:nth-child(5),
.slider__switch2:checked ~ .slider__controls label:nth-child(1),
.slider__switch3:checked ~ .slider__controls label:nth-child(2),
.slider__switch4:checked ~ .slider__controls label:nth-child(3),
.slider__switch5:checked ~ .slider__controls label:nth-child(4) {
  background: url("./prev.png") no-repeat;
  float: left;
  margin: 0 0 0 -5px;
  display: block;
  height: 68px;
  width: 68px;
}

.slider__switch1:checked ~ .slider__controls label:nth-child(2),
.slider__switch2:checked ~ .slider__controls label:nth-child(3),
.slider__switch3:checked ~ .slider__controls label:nth-child(4),
.slider__switch4:checked ~ .slider__controls label:nth-child(5),
.slider__switch5:checked ~ .slider__controls label:nth-child(1) {
  background: url("./next.png") no-repeat;
  float: right;
  margin: 0 -5px 0 0;
  display: block;
  height: 68px;
  width: 68px;
}

.label {
  cursor: pointer;
}

.input-slider {
  display: none;
}

.slider__switch1:checked ~ .slides .slides__list-images {
  margin-left: 0;
}

.slider__switch2:checked ~ .slides .slides__list-images {
  margin-left: -100%;
}

.slider__switch3:checked ~ .slides .slides__list-images {
  margin-left: -200%;
}

.slider__switch4:checked ~ .slides .slides__list-images {
  margin-left: -300%;
}

.slider__switch5:checked ~ .slides .slides__list-images {
  margin-left: -400%;
}

.slider__controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

.slider__active .label {
  border-radius: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #bbb;
}

.slider__active {
  margin: 23% 0 0;
  text-align: center;
}

.slider__active .label:hover {
  background: #76c8ff;
  border-color: #888888;
}

.slider__switch1:checked ~ .slider__active .label:nth-child(1),
.slider__switch2:checked ~ .slider__active .label:nth-child(2),
.slider__switch3:checked ~ .slider__active .label:nth-child(3),
.slider__switch4:checked ~ .slider__active .label:nth-child(4),
.slider__switch5:checked ~ .slider__active .label:nth-child(5) {
  background: #13a6e6;
  border-color: #13a6e6;
}

.slides .slides__list-images {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.slider__controls .label:hover {
  opacity: 0.6;
}

.slider__controls .label {
  transition: opacity 0.2s ease-out;
}

.main-content__box-characteristic {
  margin-top: 30px;
  margin-bottom: 55px;
}

.box-characteristic {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

.all-characteristic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 30px;
}

.all-characteristic_size_m {
  width: 880px;
}

.product-color {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-color__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.product-color__items {
  display: flex;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
}

.product-color__item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;
  width: 80px;
  height: 80px;
  border: 1px solid #888888;
  border-radius: 4px;
  cursor: pointer;
}

.product-color__img-color {
  height: 60px;
}

.product-color__item:hover {
  background: #f2f2f2;
}

.product-color__item:active {
  border: 2px solid #a93a09;
  background-color: #f8fafe;
}

.product-color__item_active {
  border: 2px solid #f36223;
}

.product-color__item_active:hover {
  background-color: #f8fafe;
}

.memory {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.memory__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.memory__btns {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.btn {
  box-sizing: border-box;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: #f8fafe;
  border-color: #888888;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn_active {
  border: 2px solid #f36223;
}

.btn:hover {
  background-color: #f2f2f2;
}

.btn:active {
  border: 2px solid #a93a09;
  background-color: #f8fafe;
}

.options {
  display: flex;
  flex-direction: column;
}

.options__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 15px;
}

.options__list {
  display: flex;
  list-style-image: url(./images/marker/Маркер.png);
  list-style-position: inside;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  margin: 0;
}

.options__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.description__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.description__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 15px;
}

.description__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.description__text-italic {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-style: italic;
}

.model-comparison {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  align-self: stretch;
  padding: 0;
  gap: 15px;
}

.model-comparison__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.model-comparison__box-table {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.table {
  border-collapse: collapse;
  border: 1px solid #888888;
}

.table__thead {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #888888;
  text-align: center;
}

.table__tbody,
.table__tfoot {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.table__tbody-tr:hover,
.table__tfoot-tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.table__th,
.table__td {
  border-style: none solid;
  border-color: #888888;
  border-width: 1px;
  padding: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}

.sidebar_size_s {
  width: 420px;
}

.important {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  align-self: stretch;
  padding: 20px;
  gap: 15px;
  margin: 0;
}

.important__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  padding: 0px;
  gap: 10px;
}

.important__price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
}

.important__price-old {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.important__price-old-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #888888;
  margin: 0;
}

.important__discount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
  background: #f36223;
  border-radius: 500px;
}

.important__discount-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
}

.important__price-new {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin: 0;
}

.important__heart-icon {
  cursor: pointer;
  width: 28px;
  height: 23px;
}

.important__svg {
  fill: #888888;
  cursor: pointer;
  width: 28px;
  height: 22px;
}

.svg-red {
  fill: #f36223;
}

.important__svg-add {
  cursor: pointer;
  display: none;
}

.svg-action {
  display: block;
  cursor: pointer;
}

.important__svg:hover {
  fill: #f36223;
}

.important__svg:active {
  fill: #a93a09;
}

.important__delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 0 0 20px;
  gap: 10px;
}

.important__delivery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-self: stretch;
  margin: 0;
}

.important__in-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #f36223;
  border-color: #f36223;
  align-self: stretch;
  gap: 15px;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.btn-active {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #888888;
  border-color: #888888;
  align-self: stretch;
  gap: 15px;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.important__in-btn::before {
  content: url(./shopping-cart.svg);
  width: 24px;
  height: 24px;
}

.btn-active::before {
  content: url(./shopping-cart.svg);
  width: 24px;
  height: 24px;
}

.important__in-btn:hover {
  background: #da4a0c;
}

.important__in-btn:active {
  background: #a93a09;
}

.ad {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  align-self: stretch;
}

.ad__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin: 0;
}

.ad-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 0;
  gap: 15px;
}

.ad-blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px dashed #888888;
  background: #f0f0f0;
  align-self: stretch;
  gap: 10px;
}

.ad-list__ad-blok {
  height: 300px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 25px;
}

.reviews_size_m {
  width: 880px;
}

.reviews__header {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
  align-self: stretch;
}

.reviews__box-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
}

.reviews__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.reviews__amount {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #888888;
}

.reviews__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 0;
  gap: 40px;
}

.feedback {
  display: flex;
  align-items: flex-start;
  padding: 0;
  gap: 30px;
}

.feedback__foto {
  border-radius: 100px;
  height: 140px;
}

.feedback__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 20px;
}

.feedback__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
}

.feedback__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.feedback__rating {
  display: flex;
  align-items: flex-start;
  padding: 0;
  align-self: stretch;
}

.feedback__rating-star {
  height: 30px;
}

.feedback__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
}

.feedback__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-self: stretch;
  margin: 0;
}

.feedback__content_separator {
  padding-bottom: 40px;
  border-bottom: 1px dashed #888888;
}

.content-search {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 0px 0px 170px;
  gap: 15px;
}

.content-search_size_m {
  width: 880px;
}

.content-search__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 0px;
  gap: 30px;
}

.search-form__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 0;
  margin: 0;
  align-self: stretch;
}

.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 0;
}

.search-form__name {
  flex-grow: 1;
}

.search-form__rating {
  width: 175px;
}

.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: none;
  border: 1px solid #888888;
  align-self: stretch;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.border-red {
  border: 1px solid #da4a0c;
}

.input-error {
  display: none;
  position: absolute;
  top: 50px;
  box-sizing: border-box;
  background: #da4a0c;
  padding: 8px 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.error-blok {
  display: block;
  width: 100%;
}

.input::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #888888;
}

.textarea {
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 20px;
  border: 1px solid #888888;
  flex-grow: 1;
  height: 190px;
  background: none;
  resize: none;
}

.textarea::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #888888;
}

.input:hover,
.textarea:hover {
  border: 1px solid #000000;
}

.input:focus,
.textarea:focus {
  border: 1px solid #000000;
  outline: none;
}

.search-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background: #f36223;
  border-color: #f36223;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin: 0;
}

.search-form__btn:hover {
  background-color: #da4a0c;
}

.page__footer {
  width: 100%;
  background-color: #f2f2f2;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer__content {
  box-sizing: border-box;
  width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 30px 50px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.footer__copyright {
  display: block;
}

.footer__logo-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

.footer__text-color {
  color: #ff5722;
}

.footer__text-up {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* Когда 1024px <= ширина < 1500px */
@media screen and (max-width: 1499px) {
  .header__content {
    width: 1024px;
    padding: 0 15px;
  }

  .page__inner {
    width: 1024px;
    padding: 0 15px 100px;
  }

  .footer__content {
    width: 1024px;
    padding: 30px 15px;
  }

  .list-images__item {
    height: 272px;
  }

  .box-characteristic {
    gap: 40px;
  }

  .all-characteristic_size_m {
    width: 594px;
  }

  .sidebar_size_s {
    width: 360px;
  }

  .reviews_size_m {
    width: 594px;
  }

  .model-comparison {
    display: none;
  }

  .feedback__foto {
    height: 100px;
  }

  .feedback__rating-star {
    height: 20px;
  }

  .content-search_size_m {
    width: 594px;
  }

  .content-search {
    padding: 60px 0 0 0;
  }
}

/* Когда 800px <= ширина < 1024px*/
@media screen and (max-width: 1023px) {
  .page__content {
    padding-bottom: 30px;
  }

  .header {
    z-index: 1;
  }

  .header__content {
    width: 800px;
    padding: 0 10px;
  }

  .page__inner {
    width: 800px;
    position: relative;
    padding: 0 10px 350px;
  }

  .footer__content {
    width: 800px;
    padding: 30px 10px;
  }

  .box-characteristic {
    display: block;
  }

  .all-characteristic_size_m {
    width: 800px;
  }

  .important {
    position: absolute;
    top: 95px;
    right: 5px;
    width: 350px;
  }

  .reviews_size_m {
    width: 700px;
  }

  .model-comparison {
    display: none;
  }

  .content-search_size_m {
    width: 620px;
  }

  .content-search {
    padding: 60px 0 0 0;
  }

  .list-images {
    display: none;
  }

  .main-content__box-characteristic {
    margin-bottom: 55px;
    margin-top: 50px;
  }

  /*слайдер картинок*/
  .slider-container {
    display: block;
  }

  .ad {
    position: absolute;
    bottom: 0;
    left: 10px;
  }

  .ad-list {
    flex-direction: row;
  }
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  .page__content {
    padding-top: 55px;
  }

  .page__inner {
    width: 360px;
    padding: 0 15px;
    margin: 0 auto;
  }

  /* Шапка */
  .header__content {
    width: 360px;
    padding: 0;
  }

  .header__logo {
    flex-grow: 0;
  }

  .logo {
    padding: 8px 10px;
    gap: 8px;
  }

  .logo__img {
    width: 30px;
    height: 30px;
  }

  .logo__title {
    font-size: 32px;
    line-height: 39px;
  }

  .header__icons {
    padding: 10px 0px;
    gap: 10px;
  }

  .header__icon-counter {
    width: 30px;
    height: 30px;
  }

  .header__item-icon {
    width: 30px;
    height: 30px;
  }

  .header__img-heart,
  .header__img-basket {
    width: 30px;
    height: 30px;
  }

  .header__item-counter {
    min-width: 10px;
    min-height: 10px;
  }

  .header__number {
    font-size: 10px;
    line-height: 10px;
  }

  /* Хлебные крошки */

  .breadcrumbs {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px 0px 8px;
    justify-content: flex-start;
  }

  .breadcrumbs__link {
    font-size: 14px;
    line-height: 17px;
  }

  /* Название */

  .main-content__title-text {
    font-size: 24px;
    line-height: 29px;
  }

  /* Сайдбар */

  .important {
    top: 500px;
    width: 338px;
  }

  .important__delivery-text {
    font-size: 14px;
    line-height: 17px;
  }

  .important__in-btn {
    padding: 15px;
    font-size: 16px;
    line-height: 19px;
  }

  .btn-active {
    padding: 15px;
    font-size: 16px;
    line-height: 19px;
  }

  .important__delivery {
    padding: 0;
  }

  /* Блок с характеристиками */

  .main-content__box-characteristic {
    margin-bottom: 55px;
    margin-top: 350px;
  }
  

  .all-characteristic_size_m {
    width: 338px;
  }

  /* выбор цвета */

  .product-color__subtitle {
    font-size: 14px;
    line-height: 17px;
  }

  .product-color__items {
    flex-wrap: wrap;
    gap: 8px;
  }

  .product-color__item {
    width: 60px;
    height: 60px;
  }

  .product-color__img-color {
    height: 50px;
  }

  /* конфигурация памяти*/
  .memory__subtitle {
    font-size: 14px;
    line-height: 17px;
  }

  /* Характеристики товара */

  .options__subtitle {
    font-size: 14px;
    line-height: 17px;
  }

  .options__item {
    font-size: 14px;
    line-height: 17px;
  }

  /* описание */

  .description__subtitle {
    font-size: 14px;
    line-height: 17px;
  }

  .description__text {
    font-size: 14px;
    line-height: 17px;
  }

  .description__text-italic {
    font-size: 14px;
    line-height: 17px;
  }

  /* отзывы */
  .reviews {
    gap: 20px;
  }

  .reviews_size_m {
    width: 335px;
  }

  .reviews__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .reviews__amount {
    font-size: 20px;
    line-height: 24px;
  }

  .reviews__list {
    gap: 30px;
  }

  /* отзыв один */
  .feedback {
    display: flex;
    gap: 20px;
    position: relative;
  }

  .feedback__foto {
    position: absolute;
    height: 60px;
  }

  .feedback__header {
    position: relative;
    left: 75px;
    padding: 0 0 5px;
}

  .feedback__text {
    font-size: 14px;
    line-height: 17px;
  } 
  
  .feedback__content_separator {
    padding-bottom: 30px;
  }

  /* форма */
  .content-search {
    padding: 0px;
  }

  .content-search_size_m {
    width: 335px;
    margin-top: 40px;
  }

  .content-search__title {
    font-size: 14px;
    line-height: 17px;
  }

  .search-form {
    gap: 15px;
  }

  .search-form__item {
    gap: 15px;
    flex-direction: column;
  }

  .search-form__rating {
    width: 100%;
  }

  .input {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 17px;
  }

  .input::placeholder {
    font-size: 14px;
    line-height: 17px;
  }

  .textarea {
    font-size: 14px;
    line-height: 17px;
    padding: 10px 15px;
  }

  .textarea::placeholder {
    font-size: 14px;
    line-height: 17px;
  }

  .search-form__btn {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 17px;
  }

  /* подвал  */

  .footer__content {
    width: 360px;
    padding: 20px 10px;
    gap: 20px;
    flex-direction: column;
    align-items: stretch;
  }

  br {
    display: none;
  }

  /* реклама */
  .ad {
    display: none;
  }
}
