.memory {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.memory__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.memory__btns {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  
  .memory__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}