.feedback {
  display: flex;
  align-items: flex-start;
  padding: 0;
  gap: 30px;
}

.feedback__foto {
  border-radius: 100px;
  height: 140px;
}

.feedback__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 20px;
}

.feedback__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
}

.feedback__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.feedback__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
}

.feedback__text {
  white-space: pre-wrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-self: stretch;
  margin: 0;
}

.feedback__content_separator {
  padding-bottom: 40px;
  border-bottom: 1px dashed #888888;
}

/* Когда 1024px <= ширина < 1499px */
@media screen and (max-width: 1499px) {
  .feedback__foto {
    height: 100px;
  }
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  .feedback {
    display: flex;
    gap: 20px;
    position: relative;
  }

  .feedback__foto {
    position: absolute;
    height: 60px;
  }

  .feedback__header {
    position: relative;
    left: 75px;
    padding: 0 0 5px;
}

  .feedback__text {
    font-size: 14px;
    line-height: 17px;
  }

  .feedback__content_separator {
    padding-bottom: 30px;
  }
}