.list-images {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.list-images__item {
  height: 387px;
}

/* Когда 1024px <= ширина < 1499px */
@media screen and (max-width: 1499px) {
  .list-images__item {
    height: 272px;
  }
}

/* Когда ширина <= 800px */
@media screen and (max-width: 1023px) {
  .list-images {
    display: none;
  }
}
