@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/InterRegular.ttf") format("truetype");
}

.PageError {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  background-color: #f8fafe;
  margin: 0;
}

.PageError__content {
  width: 100%;
}

.PageError__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: 1500px;
  height: 100vh;
  margin: 0 auto;
}

.PageError__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
}

.PageError__error {
  color: red;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
}

.PageError__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

/* Когда 1024px <= ширина < 1500px*/
@media screen and (max-width: 1499px) {
  .PageError__main {
    min-width: 1024px;
  }
}

/* Когда 800px <= ширина < 1024px*/
@media screen and (max-width: 1023px) {
  .PageError__main {
    min-width: 800px;
  }
}  

/* Когда ширина <= 360px*/
@media screen and (max-width: 360px) {
  .PageError__main {
    min-width: 360px;
  }

  .PageError__text {
    font-size: 14px;
    line-height: 17px;
  }

  .PageError__link {
    font-size: 14px;
    line-height: 17px;
  }
}

