.btn {
  box-sizing: border-box;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: #f8fafe;
  border-color: #888888;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #f2f2f2;
}

.btn:active {
  border: 2px solid #a93a09;
  background-color: #f8fafe;
}

.btn_active {
  border: 2px solid #f36223;
}