.important {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  align-self: stretch;
  padding: 20px;
  gap: 15px;
  margin: 0;
}

.important__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  padding: 0px;
  gap: 10px;
}

.important__price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
}

.important__price-old {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.important__price-old-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #888888;
  margin: 0;
}

.important__discount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
  background: #f36223;
  border-radius: 500px;
}

.important__discount-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
}

.important__price-new {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin: 0;
}

.important__heart-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.important__svg {
  fill: #888888;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.important__svg-add {
  cursor: pointer;
  width: 28px;
  height: 28px;
  fill: #f36223;
}

.important__svg:hover {
  fill: #f36223;
}

.important__svg:active {
  fill: #a93a09;
}

.important__delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 0 0 20px;
  gap: 10px;
}

.important__delivery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-self: stretch;
  margin: 0;
}

.important__in-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #f36223;
  border-color: #f36223;
  align-self: stretch;
  gap: 15px;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.btn-active {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #888888;
  border-color: #888888;
  align-self: stretch;
  gap: 15px;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.important__in-btn::before {
  content: url(./shopping-cart.svg);
  width: 24px;
  height: 24px;
}

.btn-active::before {
  content: url(./shopping-cart.svg);
  width: 24px;
  height: 24px;
}

.important__in-btn:hover {
  background: #da4a0c;
}

.important__in-btn:active {
  background: #a93a09;
}

/* Когда 800px <= ширина < 1024px*/
@media screen and (max-width: 1023px) {
  .important {
    position: absolute;
    top: 95px;
    right: 5px;
    width: 350px;
  }
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  .important {
    top: 520px;
    width: 338px;
  }

  .important__delivery-text {
    font-size: 14px;
    line-height: 17px;
  }

  .important__in-btn {
    padding: 15px;
    font-size: 16px;
    line-height: 19px;
  }

  .btn-active {
    padding: 15px;
    font-size: 16px;
    line-height: 19px;
  }

  .important__delivery {
    padding: 0;
  }
}
