.page__footer {
  width: 100%;
  background-color: #f2f2f2;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer__content {
  box-sizing: border-box;
  width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 30px 50px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.footer__copyright {
  display: block;
}

.footer__logo-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

.footer__text-color {
  color: #ff5722;
}

.footer__text-up {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* Когда 1024px <= ширина < 1500px */
@media screen and (max-width: 1499px) {
  .footer__content {
    width: 1024px;
    padding: 30px 15px;
  }
}

/* Когда 800px <= ширина < 1024px*/
@media screen and (max-width: 1023px) {
  .footer__content {
    width: 800px;
    padding: 30px 10px;
  }
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  .footer__content {
    width: 360px;
    padding: 20px 10px;
    gap: 20px;
    flex-direction: column;
    align-items: stretch;
  }

  br {
    display: none;
  }
}
