@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/InterRegular.ttf") format("truetype");
}

.page {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  background-color: #f8fafe;
  margin: 0;
}

.page__content {
  width: 100%;
  padding-top: 80px;
}

.page__inner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 1500px;
  padding: 0 50px 100px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-content__title {
  display: flex;
  align-items: center;
  padding: 0 0 20px;
  gap: 10px;
}

.main-content__title-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin: 0;
}

.main-content__box-characteristic {
  margin-top: 30px;
  margin-bottom: 55px;
}

.box-characteristic {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

.all-characteristic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 30px;
}

.all-characteristic_size_m {
  width: 880px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}

.sidebar_size_s {
  width: 420px;
}

/* Когда 1024px <= ширина < 1500px */
@media screen and (max-width: 1499px) {
  .page__inner {
    width: 1024px;
    padding: 0 15px 100px;
  }

  .box-characteristic {
    gap: 40px;
  }

  .all-characteristic_size_m {
    width: 594px;
  }

  .sidebar_size_s {
    width: 360px;
  }
}

/* Когда 800px <= ширина < 1024px*/
@media screen and (max-width: 1023px) {
  .page__content {
    padding-bottom: 30px;
  }

  .page__inner {
    width: 800px;
    position: relative;
    padding: 0 10px 350px;
  }

  .box-characteristic {
    display: block;
  }

  .all-characteristic_size_m {
    width: 800px;
  }

  .main-content__box-characteristic {
    margin-bottom: 55px;
    margin-top: 50px;
  }
}


/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  .page__content {
    padding-top: 55px;
    padding-bottom: 40px;
  }

  .page__inner {
    width: 360px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .main-content__title-text {
    font-size: 24px;
    line-height: 29px;
  }

  .main-content__box-characteristic {
    margin-bottom: 40px;
    margin-top: 330px;
  }

  .all-characteristic_size_m {
    width: 338px;
  }

  .all-characteristic {
    gap: 20px;
  }

}
