.ad {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  align-self: stretch;
}

.ad__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin: 0;
}

.ad-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 0;
  gap: 15px;
}

.ad-blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px dashed #888888;
  background: #f0f0f0;
  align-self: stretch;
  gap: 10px;
}

.ad-list__ad-blok {
  height: 300px;
}

/* Когда 800px <= ширина < 1024px*/
@media screen and (max-width: 1023px) {
  .ad {
    position: absolute;
    bottom: 0;
    left: 10px;
  }
  
  .ad-list {
    flex-direction: row;
  }
 
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  .ad {
    display: none;
  }
}
