
.page__header {
  position: fixed;
  /* border-bottom: 1px solid #010541; */
  background-color: #f8fafe;
  width: 100%;
  top: 0;
}

.header {
  display: flex;
  align-items: center;
}

.header__content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1500px;
  padding: 0 50px;
  gap: 10px;
  margin: 0 auto;
}

.selected {
  background: #f36223;
}

.header__icons {
  display: flex;
  align-items: flex-start;
  padding: 21px 0 10px;
  gap: 20px;
}

/* Когда 1024px <= ширина < 1500px */
@media screen and (max-width: 1499px) {
  .header__content {
    width: 1024px;
    padding: 0 15px;
  }
}

/* Когда 800px <= ширина < 1024px*/
@media screen and (max-width: 1023px) {
  .header {
    z-index: 1;
  }

  .header__content {
    width: 800px;
    padding: 0 10px;
  }
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  .header__content {
    width: 360px;
    padding: 0;
  }

  .header__icons {
    padding: 8px 10px;
    gap: 10px;
  }
}