.product-color__item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;
  width: 80px;
  height: 80px;
  border: 1px solid #888888;
  border-radius: 4px;
  cursor: pointer;
}

.product-color__img-color {
  height: 60px;
}

.product-color__item:hover {
  background: #f2f2f2;
}

.product-color__item:active {
  border: 2px solid #a93a09;
  background-color: #f8fafe;
}

.product-color__item_active {
  border: 2px solid #f36223;
}

.product-color__item_active:hover {
  background-color: #f8fafe;
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  .product-color__item {
    width: 60px;
    height: 60px;
  }

  .product-color__img-color {
    height: 50px;
  }
}
