/*слайдер картинок*/
.slider-container {
  display: none;
}

.slider-container {
  position: relative;
  text-align: center;
  left: 0;
}

.slides__list-item {
  width: 20%;
  float: left;
}

.slides__list-images {
  width: 500%;
  line-height: 0;
}

.slides__overflow {
  width: 100%;
  overflow: hidden;
}

.slides__img {
  height: 300px;
}

.slider-container__desktop:checked ~ .slider {
  max-width: 400px;
}

.slider__switch1:checked ~ .slider__controls label:nth-child(5),
.slider__switch2:checked ~ .slider__controls label:nth-child(1),
.slider__switch3:checked ~ .slider__controls label:nth-child(2),
.slider__switch4:checked ~ .slider__controls label:nth-child(3),
.slider__switch5:checked ~ .slider__controls label:nth-child(4) {
  background: url("./prev.png") no-repeat;
  float: left;
  margin: 0 0 0 -5px;
  display: block;
  height: 68px;
  width: 68px;
}

.slider__switch1:checked ~ .slider__controls label:nth-child(2),
.slider__switch2:checked ~ .slider__controls label:nth-child(3),
.slider__switch3:checked ~ .slider__controls label:nth-child(4),
.slider__switch4:checked ~ .slider__controls label:nth-child(5),
.slider__switch5:checked ~ .slider__controls label:nth-child(1) {
  background: url("./next.png") no-repeat;
  float: right;
  margin: 0 -5px 0 0;
  display: block;
  height: 68px;
  width: 68px;
}

.label {
  cursor: pointer;
}

.input-slider {
  display: none;
}

.slider__switch1:checked ~ .slides .slides__list-images {
  margin-left: 0;
}

.slider__switch2:checked ~ .slides .slides__list-images {
  margin-left: -100%;
}

.slider__switch3:checked ~ .slides .slides__list-images {
  margin-left: -200%;
}

.slider__switch4:checked ~ .slides .slides__list-images {
  margin-left: -300%;
}

.slider__switch5:checked ~ .slides .slides__list-images {
  margin-left: -400%;
}

.slider__controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

.slider__active .label {
  border-radius: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #bbb;
}

.slider__active {
  margin: 23% 0 0;
  text-align: center;
}

.slider__active .label:hover {
  background: #76c8ff;
  border-color: #888888;
}

.slider__switch1:checked ~ .slider__active .label:nth-child(1),
.slider__switch2:checked ~ .slider__active .label:nth-child(2),
.slider__switch3:checked ~ .slider__active .label:nth-child(3),
.slider__switch4:checked ~ .slider__active .label:nth-child(4),
.slider__switch5:checked ~ .slider__active .label:nth-child(5) {
  background: #13a6e6;
  border-color: #13a6e6;
}

.slides .slides__list-images {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.slider__controls .label:hover {
  opacity: 0.6;
}

.slider__controls .label {
  transition: opacity 0.2s ease-out;
}

/* Когда ширина <= 800px */
@media screen and (max-width: 1023px) {
   /*слайдер картинок*/
  .slider-container {
    display: block;
  }

}
