.header__logo {
  flex-grow: 1;
}

.logo {
  display: flex;
  padding: 18px 0 9px 0;
  gap: 10px;
}

.logo__img {
  width: 50px;
  height: 50px;
}

.logo__title {
  text-decoration: none;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  margin: 0;
  color: black;
}

.logo__text-color {
  color: #ff5722;
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  .header__logo {
    flex-grow: 0;
  }
  
  .logo {
    padding: 8px 10px;
    gap: 8px;
  }

  .logo__img {
    width: 30px;
    height: 30px;
  }

  .logo__title {
    font-size: 32px;
    line-height: 39px;
  }
}
