.options {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 15px;
}

.list {
  display: flex;
  list-style-image: url(./Маркер.png);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 20px;
  gap: 10px;
  margin: 0;
}

.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
    /* Характеристики товара */
  
    .subtitle {
      font-size: 14px;
      line-height: 17px;
    }
    
    .item {
      font-size: 14px;
      line-height: 17px;
    }
  
}