.content-search {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 0px 0px 170px;
  gap: 15px;
}

.content-search_size_m {
  width: 880px;
}

.content-search__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 0px;
  gap: 30px;
}

.search-form__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 0;
  margin: 0;
  align-self: stretch;
}

.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 0;
}

.search-form__name {
  flex-grow: 1;
}

.search-form__rating {
  width: 175px;
}

.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: none;
  border: 1px solid #888888;
  align-self: stretch;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.border-red {
  border-color: #da4a0c;
}

.input-error {
  position: absolute;
  top: 50px;
  box-sizing: border-box;
  background: #da4a0c;
  padding: 8px 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
}

.input::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #888888;
}

.textarea {
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 20px;
  border: 1px solid #888888;
  flex-grow: 1;
  height: 190px;
  background: none;
  resize: none;
}

.textarea::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #888888;
}

.input:hover,
.textarea:hover {
  border: 1px solid #000000;
}

.input:focus,
.textarea:focus {
  border: 1px solid #000000;
  outline: none;
}

.search-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background: #f36223;
  border-color: #f36223;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin: 0;
}

.search-form__btn:hover {
  background-color: #da4a0c;
}

/* Когда 1024px <= ширина < 1499px */
@media screen and (max-width: 1499px) {
  .content-search_size_m {
    width: 594px;
  }

  .content-search {
    padding: 60px 0 0 0;
  }
}

/* Когда 800px <= ширина < 1024px*/
@media screen and (max-width: 1023px) {
  .content-search_size_m {
    width: 620px;
  }

  .content-search {
    padding: 60px 0 0 0;
  }
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  .content-search {
    padding: 0px;
  }

  .content-search_size_m {
    width: 335px;
    margin-top: 40px;
  }

  .content-search__title {
    font-size: 14px;
    line-height: 17px;
  }

  .search-form {
    gap: 15px;
  }

  .search-form__item {
    gap: 15px;
    flex-direction: column;
  }

  .search-form__rating {
    width: 100%;
  }

  .input {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 17px;
  }

  .input::placeholder {
    font-size: 14px;
    line-height: 17px;
  }

  .textarea {
    font-size: 14px;
    line-height: 17px;
    padding: 10px 15px;
  }

  .textarea::placeholder {
    font-size: 14px;
    line-height: 17px;
  }

  .search-form__btn {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 17px;
  }

  .input-error {
    top: 39px;
    z-index: 1;
  }
}
