.model-comparison {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  align-self: stretch;
  padding: 0;
  gap: 15px;
}

.model-comparison__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.model-comparison__box-table {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.table {
  border-collapse: collapse;
  border: 1px solid #888888;
}

.table__thead {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #888888;
  text-align: center;
}

.table__tbody {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.table__tbody-tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.table__th,
.table__td {
  border-style: none solid;
  border-color: #888888;
  border-width: 1px;
  padding: 10px;
}

/* Когда 1024px <= ширина < 1500px */
@media screen and (max-width: 1499px) {
  .model-comparison {
    display: none;
  }
}
