.header__icon-counter {
  position: relative;
  width: 50px;
  height: 50px;
}

.header__item-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
}

.header__img-heart,
.header__img-basket {
  width: 50px;
  height: 50px;
}

.header__item-counter {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  right: 0;
  top: 0;
  border-radius: 50px;
}

.header__number {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  .header__icon-counter {
    width: 30px;
    height: 30px;
  }

  .header__item-icon {
    width: 30px;
    height: 30px;
  }

  .header__img-heart,
  .header__img-basket {
    width: 30px;
    height: 30px;
  }

  .header__item-counter {
    min-width: 10px;
    min-height: 10px;
  }

  .header__number {
    font-size: 10px;
    line-height: 10px;
  }
}

