.feedback__rating-star {
  height: 30px;
  width: 30px;
}

/* Когда 1024px <= ширина < 1499px */
@media screen and (max-width: 1499px) {
  .feedback__rating-star {
    height: 20px;
    width: 20px;
  }
}