.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  gap: 4px;
  margin: 0;
}

.breadcrumbs__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

ul.breadcrumbs li {
  list-style-type: none;
}

ul.breadcrumbs li:not(:last-child)::after {
  content: ">";
  color: black;
  padding: 0 0 0 4px;
  font-size: 16px;
  line-height: 19px;
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  .breadcrumbs {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .breadcrumbs__link {
    font-size: 14px;
    line-height: 17px;
  }

  ul.breadcrumbs li:not(:last-child)::after {
    font-size: 14px;
    line-height: 17px;
  }

}
