.product-color {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-color__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.product-color__items {
  display: flex;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  
  .product-color__subtitle {
    font-size: 14px;
    line-height: 17px;
  }

  .product-color__items {
    flex-wrap: wrap;
    gap: 8px;
  }
}