.reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 25px;
}

.reviews_size_m {
  width: 880px;
}

.reviews__header {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
  align-self: stretch;
}

.reviews__box-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
}

.reviews__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.reviews__amount {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #888888;
}

.reviews__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 0;
  gap: 40px;
}

/* Когда 1024px <= ширина < 1500px */
@media screen and (max-width: 1499px) {
  .reviews_size_m {
    width: 594px;
  }
}

/* Когда 800px <= ширина < 1024px*/
@media screen and (max-width: 1023px) {
  .reviews_size_m {
    width: 700px;
  }
}

/* Когда 360px <= ширина < 800px*/
@media screen and (max-width: 799px) {
  
  .reviews {
    gap: 20px;
  }

  .reviews_size_m {
    width: 335px;
  }

  .reviews__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .reviews__amount {
    font-size: 20px;
    line-height: 24px;
  }

  .reviews__list {
    gap: 30px;
  }
}
